@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gradient-to-b from-gray-50 to-white text-gray-900;
}

button, a {
  @apply transition duration-200;
}